
/*
 ** General
 */

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

@keyframes fadeInScale {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*
 ** Camera selection view
 */

.grid-container {
    display: inline-grid;
    grid-gap: 1px;
    margin: 0;
    grid-template-columns: auto auto;
    height: 369px;
    width: 100%;
}

.grid-item {
    background-color: black;
    position: relative;
}

.modal_background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.85);
    animation: fadeInScale 0.07s ease-in-out;
    text-align: center;
}

.modal_foreground {
    position: relative;
    background-color: #888;
    margin: auto;
    width: 550px;
    /* height: 350px; */
    height: 400px;
    border: 1px solid #888;
    text-align: left;
    top: 45%;
    transform: translateY(-50%);
    color: white;
}

.camera_static_background {
    width: 100%;
    height: 100%;
}

.camera_static_background.inactive {
    background-color: red;
}

.camera_static_background.active {
    background-color: black;
}

.camera_static_background.active:hover {
    background-color: #666;
}

.camera_static_background.active:active {
    background-color: white;
}

.camera_static {
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.65;
}

.camera_color_line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

.feed_label {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 8px;
    left: 12px;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    font-size: 130%;
    pointer-events: none;
    user-select: none;
}

#camera_select_title {
    font-family: 'Roboto Condensed', monospace;
    font-weight: bold;
    margin-left: 12px;
    margin-bottom: 6px;
    margin-top: 6px;
    color: #ccc;
}

/*
 ** Minimap
 */

#grid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#minimap {
    position: absolute;
    top: 0;
    left: 0;
}

/*
 ** Floor Selection
 */

ul {
    list-style-type: none;
    display: table;
    height: 1px; /* Any small height will work */
    border-collapse: separate;
    border-spacing: 12px;
}

#floor_list {
    position: absolute;
    right: 12px;
    bottom: 12px;
    width: 17vw;
}

#floor_list li {
    padding-top: 12px;
    width: 100%;
    display: table-row;
}

.floor_select_button {
    border: none;
    outline: none;
    padding: 10px 8px;
    width: 85%; /* other 20% comes from spy indicator */

    background-color: #FFF4;

    color: #FFFC;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 130%;

    transition-duration: 0.1s;
}

.floor_select_button:active {
    background-color: white;
    color: black;
}

/* The style of the button of the floor the player is viewing */
.current_floor_select_button {
    background-color: white;
    color: black;
}

/*
 ** Used to tell the player which floor the spy is on. This is not necessarily
 ** the same a the floor being viewed.
 */
.spy_floor_indicator {
    float: right;
    width: 14%; /* other 80% comes from floor select button */
    margin-left: 1%;
    height: 100%;
}

.spy_floor_indicator.inactive {
    opacity: 0.0;
    transition-duration: 0.1s;
}

.spy_floor_indicator.active {
    opacity: 1.0;
    transition-duration: 0.1s;
}
